.container {
  width: 1000px;
  height: 450px;
  box-sizing: border-box;
  margin: auto;
  border: 1px solid black;
  display: flex;
  background-color: antiquewhite;
}

.container .menu-left {
  width: 30%;
}

.container .menu-left .item {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5px;
  margin-top: 8px;
  color: palevioletred;
  background-color: aliceblue;
}

.container .menu-left .item:hover {
  color: black;
}

.container .menu-right {
  display: flex;
  margin: auto;
}

.container .menu-right .box {
  width: 30%;
  padding: 0 10px;
  text-align: center;
}

.container .menu-right .box .image {
  width: 100%;
  height: 50%;
  height: 250px;
  position: relative;
  margin-bottom: 5px;
}

.container .menu-right .box .image img{
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

/* .container .menu-right .box .image img:first-child {
  position: absolute;
} */

.container .menu-right .box .image img:nth-child(1) {
  display: none;
  position: absolute;
}

.container .menu-right .box .image:hover img:nth-child(1)  {
  display: block;
}

.container .menu-right .box .brand {
  font-size: 12px;
  margin: 0;
}

.container .menu-right .box h3 {
  font-size: 16px;
}

.container .menu-right .box .price {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.container .menu-right .box button {
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: palevioletred;
  border: none;
}

.container .menu-right .box button:hover {
  color: palevioletred;
  background: black;
}